.logo {
    background-image: url("/Images/landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.text {
    text-align: center;
}

#Img {
    align-items: left;
    justify-content: left;
    height: 5px;
    width: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.Hour {
    display: flex;
    flex-direction: column;
}

.Happy {
    text-align: center;
    justify-content: center;
    flex-grow: 1;
}

#Time {
    background-color: white;
    color: black;
}

#Party {
    background-color: #F15A29;
    color: white;
}

.Drinks {
    float: left;
    margin: 80px;
    padding: 10px;
    box-shadow: 1px 80px 10px 1px grey;
}

.two {
    display: block;
    justify-content: right;
    margin: 140px;
}

.Fastfood {
    background-image: url("Images/foodsBg.jpg");
}

.Menu {
    background-color: #F15A29;
}